/* code and pre should be modified */

code {
  background-color: var(--color-main-10);
  border-radius: 4px;
  font-family: courier, monospace;
  padding: 0px 4px;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid var(--color-main-30);
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.hljs {
  background: #000000;
  color: #444;
}
