.logo {
  position: absolute;
  left: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.logo__image {
  width: 32px;
  height: 32px;
}

.logo__text {
  width: 126px;
}
