.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list__item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 4px;

  border-width: 0.5px;
  border-style: solid;
  border-radius: 16px;
  border-color: var(--color-main-30);
}

.list__item:hover {
  background-color: var(--color-main-15);
}

.list__item:click {
  background-color: var(--color-main-30);
}
