nav {
  height: 56px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: var(--color-black-00);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 0.5px solid var(--color-main-30);
}
.menu {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  padding: 0px;
}

.menu__button {
  height: 32px;

  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  list-style: none;
  font-size: 14px;
  font-weight: 600;
}

.feature {
  position: absolute;
  right: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature__button {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
